/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
  background: linear-gradient(360deg, aliceblue, #ff6633);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  font-family: "Roboto Light", sans-serif;
}

html {
  height: 100%;
}


