<div class="container">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3 id="navBarLogo">Simple <b>Calendar</b> Application</h3>
    <span class="menu-spacer"></span>

    <div id="navBarLinks">
      <a [routerLink]="'/accounts'" mat-button> Create an activity </a>
      <a [routerLink]="'/contacts'" mat-button> Update an activity </a>
      <a [routerLink]="'/contacts'" mat-button> Remove an activity </a>

    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>
</div>

